<div class="grid-container">
  <div class="links">
    <a href="/home"><i class="fa-solid fa-house"></i></a>
    <a href="/menu">Cardápio</a>
    <a href="/order">Pedido Online</a>
  </div>
  <div class="social">
    <a href="https://github.com/VILSON55/KaraokeBar">GitHub</a>
  </div>
</div>
