<div class="grid-container">
  <div class="links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/menu"><i class="fa-solid fa-book-open"></i></a>
    <a href="/order"><i class="fa-solid fa-cart-shopping"></i></a>
  </div>
  <div class="social">
    <a href="https://github.com/VILSON55/KaraokeBar" target="_blank"><i class="fa-brands fa-github"></i></a>
  </div>
</div>
