<nav class="grid-container navbar">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/menu"><i class="fa-solid fa-book-open"></i></a>
    <a href="/order"><i class="fa-solid fa-cart-shopping"></i></a>
</nav>