<nav class="grid-container navbar">
  <div class="link-nav">
    <a href="/"><i class="fa-solid fa-house"></i></a>
  </div>
  <div class="link-nav">
    <a href="/menu"><i class="fa-solid fa-book-open"></i></a>
  </div>
  <div class="link-nav">
    <a href="/order"><i class="fa-solid fa-cart-shopping"></i></a>
  </div>
</nav>
