<p class="karaokebar">KaraokeBar</p>
<style>
  .karaokebar {
    display: flex;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    color: var(--txt-primary);
    transition: all 0.2s ease-in-out;
  }
  .karaokebar:hover {
    animation: grow 1.5s ease-in-out infinite;
  }

  @media (max-width: 768px) {
    .karaokebar {
      animation: grow 1.5s ease-in-out infinite;
    }
  }
</style>
