.button {
  border-radius: 2px;
  border: solid 1px transparent;
  padding: 4px 6px;
  margin: 6px 4px;
  width: max-content;
}

.submit-btn {
  color: #fff;
  background-color: rgb(40 167 69);
}

.submit-btn:hover {
  color: #000;
  background-color: rgb(128, 248, 156);
}

.edit-btn {
  color: #fff;
  background-color: rgb(16, 83, 230);
}

.edit-btn:hover {
  color: #000;
  background-color: rgb(82, 131, 236);
}

.delete-btn {
  color: #fff;
  background-color: #fc061a;
}

.delete-btn:hover {
  color: #000;
  background-color: #f84453;
}
