@import url("animations.css");

:root {
  --roxo: #59114d;
  --verde-claro: #003b36;
  --verse-escuro: #012622;
  --bg-primary: #ece5f0;
  --bg-secondary: #19274e;
  --txt-primary: #e98a15;
  --bg-light: #ece5f0;
}

*.grid-container {
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 10vh minmax(70vh, 1fr) 20vh;
  background-color: var(--bg-primary);
}

header {
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh;
  background-color: var(--bg-primary);
}

header > .navbar {
  background-color: var(--txt-primary);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

header > .navbar a {
  text-decoration: none;
  color: var(--bg-primary);
  transition: all 0.5s ease-in-out;
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-area: main;
}

footer {
  display: grid;
  grid-area: footer;
}

footer > div.grid-container {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
}

footer > .grid-container > .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

footer .links > * {
  color: var(--txt-primary);
  text-decoration: none;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  footer > .grid-container > .links {
    min-height: 100%;
    min-width: 100%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* margin: 0 auto; */
    row-gap: 10px;
  }
}
