.content {
  justify-content: center;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
}
.user-header {
  display: flex;
  grid-area: "header";
  justify-content: center;
  align-items: center;
}

p.header-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.field-names > *,
.user-value {
  /* margin-right: auto; */
  font-size: 1.5rem;
}

.actions a > * {
  outline: solid 2px transparent;
  height: min-content;
  padding: 2px 5px;
  font-size: 1.2rem;
  margin: 0px 5px;
  border-radius: 5px;
  border: solid 1px transparent;
}

.actions .user-edit {
  background-color: var(--green);
  color: #fff;
}

.actions .user-edit:hover {
  outline-color: var(--green);
}

.actions .user-delete {
  background: var(--danger);
  color: #fff;
}

.actions .user-delete:hover {
  outline-color: var(--danger);
}
@media screen and (max-width: 950px) {
  .actions {
    display: flex;
    justify-self: center;
  }
}
