.content {
  justify-content: center;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
}
.user-header {
  display: flex;
  grid-area: "header";
  justify-content: center;
  align-items: center;
}

p.header-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.field-names > *,
.user-value {
  /* margin-right: auto; */
  font-size: 1.5rem;
}

.actions > * {
  outline: solid 2px transparent;
  height: min-content;
  padding: 2px 5px;
  font-size: 1.2rem;
  margin: 0px 5px;
  border-radius: 5px;
  border: solid 1px transparent;
}

.actions > .user-edit {
  background-color: var(--green);
  color: #fff;
}

.actions > .user-edit:hover {
  outline-color: var(--green);
}

.actions > .user-delete {
  background: var(--danger);
  color: #fff;
}

.actions > .user-delete:hover {
  outline-color: var(--danger);
}

.edit-panel {
  display: none;
  margin-top: 10px;
  padding: 5px 0;
  width: 80%;
  height: max-content;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: var(--primary);
}

.edit-panel > * {
  border-radius: 5px;
  border-color: transparent;
}

.edit-panel > *:focus {
  outline: none;
}

.send {
  margin-top: 5px;
}
@media screen and (max-width: 950px) {
  .actions {
    display: flex;
    justify-self: center;
  }
}
