<%- contentFor('body') %>
<div class="grid-container user-creation">
  <form method="post" id="formsubmit">
    <select id="user-role">
      <option value="user">Usuário</option>
      <option value="admin">Admin</option>
    </select>
    <div class="user-inputs">
      <input class="userinput" type="text" id="username" />
      <input class="userinput" type="password" id="password" />
    </div>

    <button class="submit">Criar Usuário</button>
  </form>
</div>
<script>
  const submitButton = document.querySelector("button.submit");
  const userRole = document.querySelector("select#user-role").value;
  const userData = {
    user: document.querySelector("#username").value,
    password: document.querySelector("#password").value,
  };
  fetch(`/${userRole}/create`, { method: "post" }).then((res) =>
    res.json(userData)
  );
</script>
