<%- contentFor('body') %>
<div class="grid-container">
  <form class="form-submit" method="post" action="/user/create">
    <div class="user-inputs">
      <label class="input-label w-80" for="username">Nome</label>
      <input
        class="input w-80"
        type="text"
        id="username"
        name="name"
        placeholder="Digite o nome do usu치rio"
      />
      <label class="input-label w-80" for="email">E-mail</label>
      <input
        class="input w-80"
        type="email"
        id="email"
        name="email"
        placeholder="Digite o e-mail do usu치rio"
      />
      <label class="input-label w-80" for="password">Senha</label>
      <input
        class="input w-80"
        type="password"
        id="password"
        name="password"
        placeholder="Digite a senha do usu치rio"
      />
    </div>
    <button type="submit" class="submit-btn button d-flex align-self-center">
      Criar Usu치rio
    </button>
  </form>
</div>
